{% extends 'base.html.twig' %}
{% block title %}Recherche
{% endblock %}
{% block body %}
	<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Site des rencontres sportives</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="/">Home
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('inscription', {'preRemplir': true}) }}">Inscription pour un autre sport</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<div class="content">
		{{ form_start(form) }}

		<h2>Rechercher des partenaires:</h2>
		{{ form_row(form.sport, {'attr': {'style': 'width: 450px;'}}) }}
		{{ form_row(form.niveau , {'attr': {'style': 'width: 450px;'}}) }}
		{{ form_row(form.departement, {'attr': {'style': 'width: 450px;'}}) }}

		<button type="submit" class="btn btn-success">Rechercher</button>
		<button type="submit" class="btn btn-success" id="effacerChamps">Effacer</button>


		{{ form_end(form) }}
		{% if users is not empty %}
			<br>
			<h2>Résultats de la recherche :</h2>
			<table style="width:20%">
				<thead>
					<tr>
						<th style="padding: 5px;">Nom</th>
						<th style="padding: 5px;">Département</th>
						<th style="padding: 5px;">Niveau</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td style="padding: 5px;">{{ user.nom }}
								{{ user.prenom }}</td>
							<td style="padding: 5px;">{{ user.departement }}</td>
							<td style="padding: 5px;">{{ user.niveau }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% elseif formSubmitted  %}
			<br>
			<p>Aucun utilisateur trouvé.</p>
		{% endif %}
	</div>


	<script>
		document.getElementById('effacerChamps').addEventListener('click', function () { // Clear all form fields
        document.getElementById('{{ form.departement.vars.id }}').value = '';
        document.getElementById('{{ form.sport.vars.id }}').value = '';
        document.getElementById('{{ form.niveau.vars.id }}').value = '';
        });
	</script>

{% endblock %}
